/*****************************************************************COMMON******************************************************************/
/*theme postfix -blue*/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color:#f8f8f8;
    min-width:300px;
    margin-bottom:120px;
}
/***Font Styles***/
.font-color-red{
    color:#df1f1f;
}
.font-color-green{
    color:#32b45f;
}
.font-color-blue{
    color:#0072c5;
}
.font-size13{
    font-size:13px;
}
.font-bold{
    font-weight:bold;
}
/***Font Styles***/
/***Margin and Padding***/
/***Margin and Padding***/
/***Others***/
.border-radius0{
    border-radius:0px;
}
.no-wrap{
    white-space:nowrap;
}
.txt-right-left-mob-break992{
    text-align:right;
}
/***Others***/
/***Navigation***/
.navbar-blue {
    /*background-color:#0072c5;*/
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzJjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDcyYzUiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,114,197,1) 0%, rgba(0,114,197,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,114,197,1)), color-stop(100%,rgba(0,114,197,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c5', endColorstr='#d90072c5',GradientType=0 ); /* IE6-8 */

    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzJjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDcyYzUiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(0,114,197,1) 0%, rgba(0,114,197,0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,114,197,1)), color-stop(100%,rgba(0,114,197,0.8)));
    background: -webkit-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.8) 100%);
    background: -o-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.8) 100%);
    background: -ms-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c5', endColorstr='#cc0072c5',GradientType=0 );*/


    /*border-color: #e7e7e7;*/

    min-height: 40px;
    margin-bottom: 20px;
    border: 0px;
}
.navbar-blue .navbar-brand {
    color: #ffffff;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-blue .navbar-text {
    color: #ffffff;
}
.navbar-blue .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-blue .navbar-nav > .disabled > a,
.navbar-blue .navbar-nav > .disabled > a:hover,
.navbar-blue .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-blue .navbar-toggle {
    border-color: #ddd;

    padding: 7px 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #0362a7;
}
.navbar-blue .navbar-toggle .icon-bar {
    background-color: #dddddd;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
    border-color: #e7e7e7;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-blue .navbar-link {
    color: #ffffff;
}
.navbar-blue .navbar-link:hover {
    color: #ffffff;
}
.navbar-blue .btn-link {
    color: #ffffff;
}
.navbar-blue .btn-link:hover,
.navbar-blue .btn-link:focus {
    color: #ffffff;
}
.navbar-blue .btn-link[disabled]:hover,
fieldset[disabled] .navbar-blue .btn-link:hover,
.navbar-blue .btn-link[disabled]:focus,
fieldset[disabled] .navbar-blue .btn-link:focus {
    color: #ccc;
}

.navbar-blue .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-blue .navbar-brand {
    height: 40px;
    padding: 10px 15px;
    font-size: 20px;
    line-height: 20px;
    text-shadow: 1px 1px 2px #101010;
}
/***Navigation***/
/***Button Styles***/
.btn-mark-review {
    color: #fff;
    background-color: #693ef3;
    border-color: #693ef3;
}
.btn-mark-review:hover,
.btn-mark-review:focus,
.btn-mark-review:active,
.btn-mark-review.active,
.open > .dropdown-toggle.btn-mark-review {
    color: #fff;
    background-color: #6133F5;
    border-color: #6133F5;
}
.btn-mark-review:active,
.btn-mark-review.active,
.open > .dropdown-toggle.btn-mark-review {
    background-image: none;
}
.btn-mark-review.disabled,
.btn-mark-review[disabled],
fieldset[disabled] .btn-mark-review,
.btn-mark-review.disabled:hover,
.btn-mark-review[disabled]:hover,
fieldset[disabled] .btn-mark-review:hover,
.btn-mark-review.disabled:focus,
.btn-mark-review[disabled]:focus,
fieldset[disabled] .btn-mark-review:focus,
.btn-mark-review.disabled:active,
.btn-mark-review[disabled]:active,
fieldset[disabled] .btn-mark-review:active,
.btn-mark-review.disabled.active,
.btn-mark-review[disabled].active,
fieldset[disabled] .btn-mark-review.active {
    background-color: #693ef3;
    border-color: #693ef3;
}
.btn-mark-review .badge {
    color: #693ef3;
    background-color: #fff;
}
/***Button Styles***/
/***Panel***/
.panel-blue {
    border-color: #ddd;
}
.panel-blue > .panel-heading {
    color: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzJjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDcyYzUiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,114,197,1) 0%, rgba(0,114,197,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,114,197,1)), color-stop(100%,rgba(0,114,197,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c5', endColorstr='#d90072c5',GradientType=0 ); /* IE6-8 */
    border-color: #ddd;
}
.panel-blue > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-blue > .panel-heading .badge {
    color: #0072c5;
    background-color: #f5f5f5;
}
.panel-blue > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}
.panel-blue .panel-title{
    font-size:15px;
}
.panel-blue .question-left{
    font-size:10px;
    font-weight:normal;
}
.panel-blue-question-icon{
    width:15px;
}
.panel-blue-question-icon.not-answered{
    color:#df1f1f;
}
.panel-blue-question-icon.answered{
    color:#32b45f;
}
.panel-blue-question-icon.not-visited{
    color:#888888;
}
.panel-blue-question-icon.marked{
    color:#693ef3;
}
.panel-blue .subject-section{
    font-size:12px;
}
/***Panel***/
/*top link headings*/

.heading-not-answered{
    color:#df1f1f;
    font-size:17px;
    padding-right:15px;
}
.heading-not-answered a{
    color:#df1f1f;
}

.heading-marked{
    color:#693ef3;
    font-size:17px;
    padding-right:15px;
}
.heading-marked a{
    color:#693ef3;
}

.heading-not-visited{
    color:#888888;
    font-size:17px;
    padding-right:15px;
}
.heading-not-visited a{
    color:#888888;
}

.heading-answered{
    color:#32b45f;
    font-size:17px;
    padding-right:15px;
}
.heading-answered a{
    color:#32b45f;
}

.heading-instructions{
    color:#0072c5;
    font-size:17px;
    padding-right:15px;
}
.heading-instructions a{
    color:#0072c5;
}

.heading-time{
    font-size:17px;
}

/*top link headings*/
/*well styles*/
.common-well{
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.09) inset;
}
.well-white{
    background-color:#ffffff;
    font-size:15px;
}
/*well styles*/

#content{
    margin-top:60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /*background-color:#25383C; #0072c5;*/
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzJjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDcyYzUiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,114,197,1) 0%, rgba(0,114,197,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,114,197,1)), color-stop(100%,rgba(0,114,197,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,114,197,1) 0%,rgba(0,114,197,0.85) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c5', endColorstr='#d90072c5',GradientType=0 ); /* IE6-8 */
    box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
    text-align:center;
    color:#ffffff;
    padding:15px 0px 15px 0px;
}
/*****************************************************************COMMON******************************************************************/



/*****************************************************************RESPONSIVE STYLES******************************************************************/
@media(max-width:992px){
    .txt-right-left-mob-break992{
        text-align:left;
    }
}