<div ng-include="'partials/navbar'"></div>

<!--CONTENT-->
<div class="container-fluid" id="content" ng-controller="QuestionpaperCtrl" ng-init="loadTest()">
    <div class="well well-lg well-white">
        <div class="row">
            <div class="col-lg-7 col-md-8">
                <span class="no-wrap heading-not-answered"><i class="fa fa-lightbulb-o"></i> <a href="#">Not Answered ({{countMap['unanswered'].length}})</a></span>
                <span class="no-wrap heading-marked"><i class="fa fa-lightbulb-o"></i> <a href="#">Marked ({{countMap['marked'].length}})</a></span>
                <span class="no-wrap heading-not-visited"><i class="fa fa-lightbulb-o"></i> <a href="#">Not Visited ({{countMap['nonvisited'].length}})</a></span>
                <span class="no-wrap heading-answered"><i class="fa fa-lightbulb-o"></i> <a href="#">Answered ({{countMap['answered'].length}})</a></span>
            </div>
            <div class="col-lg-5 col-md-4 col-sm-6 txt-right-left-mob-break992">
                <span class="no-wrap heading-instructions"><i class="fa fa-file-text-o"></i> <a href="#">Instructions</a></span>
                <span class="no-wrap heading-time">Time Left: <span id="timer" class="font-bold"></span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="panel-group" id="accordion" ng-repeat="section in questionPaper.sections" >
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                                <span class="pull-right badge question-left">{{filterAnswered(section)}} left</span>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                {{section.name}}
                            </a>
                        </h3>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body" ng-repeat="question in section.questions">
                            <span class="clearfix no-wrap"><i class="fa fa-lightbulb-o panel-blue-question-icon answered"></i><a href="" ng-click="curQuestionIndex = $index">Question no. {{$index+1}}</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-9">
            <div class="well well-sm common-well">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                English <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="section in questionPaper.sections">
                <div class="panel panel-blue" ng-repeat="question in section.questions" ng-show="curQuestionIndex == $index">
                    <div class="panel-heading">
                        <span class="pull-right subject-section">Section: {{section.name}}</span>
                        <h3 class="panel-title">Question no. {{$index + 1}}</h3>
                    </div>
                    <div class="panel-body">
                        <p ng-bind-html="question.content"></p>
                        <form role="form" class="form-horizontal font-size13">
                            <div class="">
                                <div ng-repeat="choice in question.choices">
                                    <input type="radio" value="true" ng-checked="choice.isUserAnswer" ng-click="markAnswered(question);selectQuestionOption(question,choice)"> <span class="font-bold">{{$index+1}}.</span> <span>{{choice.choice}}</span><br/><br/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-warning btn-sm" ng-click="markVisited(question)">Clear Response</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-default btn-sm" ng-click="markForReview(question)">Mark for Review and Next</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-success btn-sm pull-right" ng-show="curQuestionIndex > 0" ng-click="movePrev()">Previous</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <button type="button" class="btn btn-success btn-sm pull-right" ng-show="curQuestionIndex + 1 < section.questions.length" ng-click="moveNext()">Save &amp; Next</button>
                            </div>
                            <div class="btn-group pull-right">
                                <button class="btn btn-primary btn-sm" type="button" ng-click="finish()">
                                    Finish
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
<hr>
<div ng-include="'partials/footer'"></div>
</div>