
<div class="container" ng-controller="QuestionCtrl" ng-init="getAllTags()">
    <!--<div class="page-header"></div>-->
    <h2 class="text-primary">Add Matching Questions </h2>
    <form class="form" name="form" ng-submit="loginToPortal(form)" novalidate>
        <div class="row" ng-show="question.tags.length > 0">
            <div class="col-lg-1">
                <label>Tags</label>
            </div>
            <div class="col-lg-11" style="line-height: 2.2">
                <a class="btn btn-xs btn-info" style="margin-right: 10px;" ng-repeat="tag in question.tags">
                    {{tag}}
                    <span class="glyphicon glyphicon-remove" style="margin-left: 10px;" ng-click="removeTagFromQuestion(tag)"></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1">
                <label>Select Tags</label>
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control search-query" ng-init="getAllTags()" ng-model="searchTag" ng-change="addTagToQuestion()" ng-options="tag.name for tag in allTags" bs-typeahead>
            </div>
        </div>
        <div class="row">
            <br/>
            <div class="col-lg-1">
                <label>Main Text</label>
            </div>
            <div class="col-lg-6">
                <textarea rows="2" cols="30" spellcheck="true" ckeditor="" style="height: 100px;" ng-model="question.content"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <label>Match Options</label>
            </div>
            <div class="col-lg-6">
                <div style="height: 180px;" ng-grid="createMatchingQuestionOptions"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <label>Remaining Text</label>
            </div>
            <div class="col-lg-6">
                <textarea rows="1" cols="90" spellcheck="true" ng-model="question.extraContent" placeholder="Select the Correct Option"></textarea>
            </div>
        </div>
       <div class="row">
           <div class="col-lg-1">
               <label>Options</label>
           </div>
           <div class="col-lg-6">
               <div style="height: 180px;" ng-grid="createMatchingChoice"></div>
           </div>
           <div class="col-lg-2">
               <button class="btn-success btn-small btn-default clickme" type="submit" id="saveQuestion" ng-click="saveQuestion(false)">Save Question</button>
           </div>
       </div>
        <div class="row">
            <br/>
            <div class="col-lg-1">
                <label>Answer</label>
            </div>
            <div class="col-lg-6">
                <textarea rows="2" cols="30" spellcheck="true" ckeditor="" style="height: 100px;" ng-model="question.answer"></textarea>
            </div>
        </div>
    </form>
</div>