
<div class="container" ng-controller="QuestionCtrl" ng-init="getAllTags()">
    <!--<div class="page-header"></div>-->
    <h2 class="text-primary">Add Matching Questions </h2>
    <form class="form" name="form" ng-submit="loginToPortal(form)" novalidate>
        <div class="row">
            <div class="col-lg-1">
                <label>Tags(Comma separated)</label>
            </div>
            <div class="col-lg-6">
                <!--<select multiple ng-model="question.extraTags">-->
                    <!--<option ng-repeat="tag in allTags" value="{{tag.name}}">{{tag.name}}</option>-->
                <!--</select>-->
                <input type="text" model="question.extraTags">
            </div>
        </div>
        <div class="row">
            <br/>
            <div class="col-lg-1">
                <label>Main Text1</label>
            </div>
            <div class="col-lg-6">
                <textarea rows="2" cols="30" spellcheck="true" ckeditor="" style="height: 100px;" ng-model="question.content"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <label>Match Options</label>
            </div>
            <div class="col-lg-6">
                <div style="height: 180px;" ng-grid="createMatchingQuestionOptions"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <label>Remaining Text</label>
            </div>
            <div class="col-lg-6">
                <textarea rows="1" cols="90" spellcheck="true" ng-model="question.extraContent" placeholder="Select the Correct Option"></textarea>
            </div>
        </div>
       <div class="row">
           <div class="col-lg-1">
               <label>Options</label>
           </div>
           <div class="col-lg-3">
               <div style="height: 180px;" ng-grid="createMatchingChoice"></div>
           </div>
           <div class="col-lg-3">
               <button class="btn-success btn-small btn-default clickme" type="submit" id="saveQuestion" ng-click="saveQuestion()">Save Question</button>
           </div>
       </div>
    </form>
</div>