<div ng-include="'partials/navbar.html'"></div>

<div ng-controller="QuestionCtrl" style="margin-left: 20px;">
    <h3>Search By Tag</h3>
    <div class="row">
            <div class="col-lg-2 center">
                <input type="text" class="form-control spa2" ng-model="searchTag">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success btn-small btn-default" ng-click="viewTagQuestions(searchTag)">Search</button>
            </div>
    </div>
    <div class="row" >
        <div class="col-lg-12">
            <div ng-if="questions">
            <h3>Questions</h3>
            <div class="col-lg-7">
            <ul class="pagination">
                <li ng-repeat="question in questions"><a href ng-click="clickPagination($index)">{{$index + 1}}</a></li>
            </ul>

            <div ng-repeat="question in questions" ng-show="curQuestionIndex == $index" ng-init="editable=0">
                <div id="questionEdit" class="clearfix btn-group-sm pull-right" >
                    <button type="button" class="btn btn-sm btn-danger" ng-show="currentUser && currentUser.role == 'admin' && editable == 0" ng-click="editable = 1">Edit</button>
                    <button type="button" class="btn btn-sm btn-warning" ng-show="currentUser && currentUser.role == 'admin' && editable == 1" ng-click="editable = 0">Cancel</button>
                    <button type="button" class="btn btn-sm btn-success" ng-show="currentUser && currentUser.role == 'admin' && editable == 1" ng-click="editable=0; saveQuestion(questions[curQuestionIndex])">Save</button>
                </div>
                <div ng-switch="question.type">
                    <!--<h3>Question #{{$index + 1}} </h3>-->
                    <p ng-bind-html="question.content"></p>
                    <br/><br/>
                    <div class="row">
                        <div ng-switch-when="MCQ">
                            <div ng-repeat="choice in question.choices" class="active">
                                <p style="vertical-align: middle">
                                <label>Choice {{$index+1}}</label>
                                <textarea rows="4" cols="50" ng-model="choice.choice" ng-disabled="editable == 0"></textarea>
                                <input type="checkbox" ng-model="choice.isCorrectAnswer" ng-disabled="editable == 0">
                                </p>
                            </div>
                            <p>Answer: </p>
                            <textarea cols="30" rows="10" ckeditor="editorOptions" ng-model="question.answer"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="questionNav" class="clearfix btn-group-sm pull-right" >
                <button type="button" class="btn btn-sm btn-primary" ng-show="curQuestionIndex > 0" ng-click="curQuestionIndex = curQuestionIndex-1"> Previous </button>
                <button type="button" class="btn btn-sm btn-primary" ng-show="curQuestionIndex + 1 < questions.length" ng-click="curQuestionIndex = curQuestionIndex+1"> Next </button>
            </div>
    </div>
        </div>
        </div>
    </div>
</div>

<div ng-include="'partials/footer'"></div>
