<div ng-include="'partials/navbar'"></div>

<div class="container" ng-controller="TagsCtrl" ng-init="getAllTags()">
    <div class="page-header"></div>
    <div class="row">
    <form class="form-horizontal">
        <input type="text" ng-model="tags.tag" placeholder="Enter Tag Name here">
        <button class="btn-success btn-small btn-default clickme" type="submit" ng-click="saveTag()">Add Tag</button>
        <button class="btn-success btn-small btn-default clickme" type="submit" ng-click="addQuestions()">Upload Questions</button>
    </form>
        <div style="height: 600px;" ng-grid="tagsSchema"></div>
    </div>
</div>

<div ng-include="'partials/footer'"></div>
