<div ng-include="'partials/navbar'"></div>

<div class="container-fluid" ng-controller="CandidateDashboardCtrl" ng-init="getAnswerSheets()">
    <div class="col-lg-12" style="margin-left: 20px;">
        <h1>Question Papers</h1>
    </div>
    <div class="row">
        <div>
            <div style="margin: 30px;">
                <div class="row">
                    <div class="col-lg-2" ng-repeat="answerSheet in answerSheets">
                        <a ng-href="/{{answerSheet.passKey}}">
                            <div class="thumbnail">
                                <a href="" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-gear icon_size pull-right"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3" style="position: relative; left:60px; min-width: 100px;">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="/answerSheet/{{answerSheet.passKey}}">View Details</a></li>
                                </ul>
                                <div class="caption" style="text-align: center; margin-top: -10px;">
                                    <h4>{{answerSheet.name}}</h4>
                                    <label class="MarginTop TxtColorGreen"><span style="color: lightgreen;">1 Pass</span>,<span style="color: red;">1 Fail</span></label>
                                    <label class="MarginTop TxtColorGreen"><p style="color:#31b0d5">Submitted on: {{answerSheet.createDate | date : 'medium'}}</p></label>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a data-toggle="modal" data-target="#addNewScheduleModal" title="Create New Test">
                            <div class="thumbnail" >
                                <div class="caption" style="text-align: center; margin-top: -2px;">
                                    <img src="images/plus.png"/>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div ng-include="'partials/footer'"></div>

</div>