<div ng-include="'partials/navbar'"></div>
<!--navigation ends-->
<!--CONTENT-->
<div id="landing">
    <!--slider-->
    <!--slider-->
    <div class="slier-container">
        <div class="container">
            <div class="slider slide-one">
                <div class="img-container">
                    <img src="images/computer-screen.png">
                    <a>CLICK TO SUBMIT</a>
                </div>
                <div class="detail-container">
                    <p>Meticulously Curated
                        <span>QUESTION BANK</span>
                        covering ALL Topics
                    </p>
                </div>
            </div>
            <!-- end slide one -->
            <div class="slider slide-two hide">
                <div class="img-container">
                    <img src="images/computer-screen-satelite.png">
                    <a>TAKE WEEKLY QUIZ</a>
                </div>
                <div class="detail-container">
                    <p>
                        <span>CURRENT AFFAIRS</span>
                        periodically squeezed into
                        <span>Learning Outcomes</span>
                        through Q/A
                    </p>
                </div>
            </div>
            <!-- end slide two -->
            <div class="slider slide-three hide">
                <div class="img-container">
                    <img src="images/computer-screen-wifi.png">
                    <a>GO TO BLOGS</a>
                </div>
                <div class="detail-container">
                    <p>
                        <span>BLOG</span>
                        An Assortment of
                        STRATEGIC EVENTS
                        expressed in brief but
                        wholistic manner
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--&lt;!&ndash; end slider &ndash;&gt;-->
    <!--<div style="height:465px; width:100%;">-->
    <!--</div>-->
    <div class="wrapper-red">
        <div class="container">
            <div class="row figure-block-red">
                <div class="structure"></div>
                <div class="col-md-3 text-left">
                    <h1 class="figure-title">17,857</h1>
                    <label class="figure-value">no. of questions</label>
                </div>
                <div class="col-md-5">
                    <h1 class="figure-title">184</h1>
                    <label class="figure-value">no. of experts</label>
                </div>
                <div class="col-md-4">
                    <h1 class="figure-title">687</h1>
                    <label class="figure-value">questions updated this week</label>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CONTENT ENDS-->
<div id="offer">

    <div class="container canvas-cont">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered text-center">
                <div class="canvas-txt">
                    <span  style="font-size: 24px">10%</span>
                    of all the questions<br>
                    in last 10 years<br>
                    are from<br>
                    <span style="font-size: 16px">POLITY</span>

                </div>
                <canvas id="counter" width="220" height="220"></canvas>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2 class="topic">Topic-wise Question Bank</h2>
                <p>
                    Meticulously curated Question Bank that covers all the topics.The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts. Meticulously curated Question Bank that covers all the topics.
                    <br/>
                    The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts.
                </p>
                <a ng-href="subjects">TAKE A SUBJECT WISE QUIZ</a>

            </div>

            <div class="col-sm-6 col-md-6">
                <h2 class="current-affairs">Current Affairs</h2>
                <p>
                    Meticulously curated Question Bank that covers all the topics.The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts. Meticulously curated Question Bank that covers all the topics.
                    <br/>
                    The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts.
                </p>
                <a ng-href="subjects">TAKE A SUBJECT WISE QUIZ</a>

            </div>
        </div>
    </div>

</div>
<!-- OFFERS ENDS-->
<div id="comments1" class="col-cont">

    <div class="row comments-hd" style="background: #f00;">
        <div class="container">
            <div class="col-lg-12">
                <blockquote>
                    <p>The most comprehensive single stop platform for civil services preparation.The most comprehensive single stop platform for civil services preparation.</p>
                    <small class="pull-right"><cite>Rohit Sharma, AIR 32</cite></small>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="container comments">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2 class="analysis">In-Depth Analysis</h2>
                <p>
                    Meticulously curated Question Bank that covers all the topics.The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts. Meticulously curated Question Bank that covers all the topics.
                    <br/>
                    The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts.
                </p>
                <a ng-href="/take-test/subjects">TAKE A SUBJECT WISE QUIZ</a>

            </div>

            <div class="col-sm-6 col-md-6">
                <h2 class="measurement">Performance Measurement</h2>
                <p>
                    Meticulously curated Question Bank that covers all the topics.The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts. Meticulously curated Question Bank that covers all the topics.
                    <br/>The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts.
                </p>
                <a ng-href="/take-test/subjects">TAKE A SUBJECT WISE QUIZ</a>

            </div>
        </div>
    </div>

</div>
<!--FOOTER ENDS-->

<!-- OFFERS ENDS-->
<div id="comments2" class="col-cont">

    <div class="row comments-hd" style="background: #f00;">
        <div class="container">
            <div class="col-lg-12">
                <blockquote>
                    <p>The most comprehensive single stop platform for civil services preparation.The most comprehensive single stop platform for civil services preparation.</p>
                    <small class="pull-right"><cite>Rohit Sharma, AIR 32</cite></small>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="container comments">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2 class="blog">360<sup>0</sup> coverage with Blogs</h2>
                <p>
                    Meticulously curated Question Bank that covers all the topics.The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts. Meticulously curated Question Bank that covers all the topics.
                    <br/>
                    The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts.
                </p>
                <a ng-href="/take-test/subjects">TAKE A SUBJECT WISE QUIZ</a>

            </div>

            <div class="col-sm-6 col-md-6">
                <h2 class="leads">Take a Lead</h2>
                <p>
                    Meticulously curated Question Bank that covers all the topics.The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts. Meticulously curated Question Bank that covers all the topics.
                    <br/>The questions have been curated after taking inputs from top ranked civil servants and in consultation with the domain experts.
                </p>
                <a ng-href="/take-test/subjects">TAKE A SUBJECT WISE QUIZ</a>

            </div>
        </div>
    </div>

</div>

<!--<script src="js/jquery-2.0.2.min.js"></script>-->
<!--<script>-->
    <!--$( function() {-->
        <!--drawCircle('#counter', 10, '#ef383a');-->
        <!--drawCircle('#counter5', 10, '#ef383a');-->
        <!--drawCircle('#counter2', 65, '#99CC33');-->
        <!--drawCircle('#counter4', 45, '#336699');-->
    <!--});-->
    <!--function drawCircle(id, percentage, color) {-->
        <!--var width = $(id).width();-->
        <!--var height = $(id).height();-->
        <!--var radius = parseInt(width/2.35);-->
        <!--var position = width;-->
        <!--var positionBy2 = position/2;-->
        <!--var bg = $(id)[0];-->
        <!--var bgClone = $(id).clone();-->
        <!--id = id.split('#');-->
        <!--$('#'+id[1]+'_gray').remove();-->
        <!--$(bgClone).attr('id', id[1]+'_gray').css({'margin-left': -width+'px', 'z-index': 0, 'position': 'absolute'});-->
        <!--var bgClone = $(bgClone)[0];-->
        <!--var ctx = bg.getContext('2d');-->
        <!--var ctxClone = bgClone.getContext('2d');-->
        <!--var imd = null;-->
        <!--var circ = Math.PI * 2;-->
        <!--var quart = Math.PI / 2;-->
        <!--ctx.beginPath();-->
        <!--ctx.strokeStyle = color;-->
        <!--ctx.lineCap = 'square';-->
        <!--ctx.closePath();-->
        <!--ctx.fill();-->
        <!--ctx.lineWidth = 16;-->
        <!--imd = ctx.getImageData(0, 0, position, position);-->
        <!--var draw = function(current, ctxPass) {-->
            <!--ctxPass.putImageData(imd, 0, 0);-->
            <!--ctxPass.beginPath();-->
            <!--ctxPass.arc(positionBy2, positionBy2, radius, -(quart), ((circ) * current) - quart, false);-->
            <!--ctxPass.stroke();-->
        <!--}-->
        <!--draw(percentage / 100, ctx);-->
        <!--ctxClone.beginPath();-->
        <!--ctxClone.strokeStyle = '#e6e6e6';-->
        <!--ctxClone.lineCap = 'square';-->
        <!--ctxClone.closePath();-->
        <!--ctxClone.fill();-->
        <!--ctxClone.lineWidth = 16;-->
        <!--imd = ctxClone.getImageData(0, 0, position, position);-->
        <!--draw(100, ctxClone);-->
        <!--$('#'+id[1]).after(bgClone);-->
    <!--}-->

<!--</script>-->
<!--<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>-->
<!--<script src="js/bootstrap.min.js" type="text/javascript"></script>-->