<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <p>We are currently buidling a site for helping you in UPSC prepartion which will be launched soon!. In the meanwhile if you have any suggestion/expectations
  Please go to ContactUs page or simply sign up for newsletter</p>
  <p class="lead">
  </p>
</div>
<form class="form-horizontal" role="form">
<div class="form-group" ng-controller="ContactCtrl">
    <label class="col-sm-2 control-label">Sign up for newsletter</label>
    <div class="col-sm-6">
        <input type="email" class="form-control" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-success btn-small btn-default" ng-click="register">Sign in</button>
</div>
</form>

</div>
<div ng-include="'partials/footer'"></div>
