<div ng-include="'partials/navbar'"></div>
    <div class="jumbotron">
        <div class="col-lg-2">
            <a href="/subjects" class="btn btn-primary btn-lg active" role="button">Start now</a>

            <!--<button class="btn-success btn-small btn-default clickme" ng-click="selectSubjects1()">Start Now</button>-->
        </div>
    </div>
<!--<div class="jumbotron">-->
    <!--<p class="text-center text-big">Career Myntra is a slick platform for Civil Services where you will find quizzes, well researched material, previous years examination papers and powerful online tests.-->
        <!--Coolest Thing is it's all free.-->
        <!--If you have any suggestions-->
        <!--please <a href="/feedback">Contact Us</a> or <a href="" ng-click="signup()">sign up</a></p>-->
    <!--<p class="lead">-->
    <!--</p>-->
<!--</div>-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="metro col-lg-12">-->
            <!--<div class="metro-sections">-->
                <!--<div class="metro-section" id="section1">-->
                    <!--<a class="tile wide imagetext bg-color-green" href="./square-tiles-templates.html">-->
                        <!--<div class="image-wrapper">-->
                            <!--<img src="images/content/img/metro-tiles.jpg" />-->
                        <!--</div>-->
                        <!--<div class="">-->
                            <!--<div class="text-header3">News</div>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<a class="tile wide imagetext tile-double bg-color-orange" href="./wide-tiles-templates.html">-->
                        <!--<div class="image-wrapper">-->
                            <!--<img src="images/content/img/metro-tiles-wide.jpg" />-->
                        <!--</div>-->
                        <!--<div class="">-->
                            <!--<div class="text-header3">Blog</div>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<a class="tile wide imagetext bg-color-green" href="./widepeek-tiles-templates.html">-->
                        <!--<div class="image-wrapper">-->
                            <!--<img src="images/content/img/metro-tiles-widepeek.png" />-->
                        <!--</div>-->
                        <!--<div class="">-->
                            <!--<div class="text-header3">Quiz</div>-->
                        <!--</div>-->
                    <!--</a>-->
                    <!--<a class="tile wide imagetext bg-color-blue" href="./widepeek-tiles-templates.html">-->
                        <!--<div class="image-wrapper">-->
                            <!--<img src="images/content/img/metro-tiles-widepeek.png" />-->
                        <!--</div>-->
                        <!--<div class="">-->
                            <!--<div class="text-header3">Analytics</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <hr>
    <div ng-include="'partials/footer'"></div>

</div>
