
<div ng-controller="NavbarCtrl">
    <header id="nav-bar" class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div id="header-container">
                    <a id="backbutton" class="win-backbutton" href="/"></a>
                    <h5>PupilsBoard</h5>
                    <div class="dropdown">
                        <a class="header-dropdown dropdown-toggle accent-color" data-toggle="dropdown" href="" >
                            Career Myntra
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="./index.html">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="top-info" class="pull-right">
                <a href="#" class="pull-left">
                    <div class="top-info-block">
                        <h3>{{email}}</h3>
                    </div>
                    <div class="top-info-block">
                        <b class="icon-user"></b>
                    </div>
                </a>
                <hr class="separator pull-left"/>
                <a id="settings" class="pull-left" href="#">
                    <b class="icon-settings"></b>
                </a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div>
        <div class="subnav">
            <ul class="nav nav-pills">
                <li  ng-class="{active: isActive('/login')}"><a ng-hide="currentUser" ng-href="/login">Login</a>
                <li  ng-class="{active: isActive('/signup')}"><a ng-hide="currentUser" ng-href="/signup">Sign up</a></li>
                <li ng-class="{active: isActive('/dashboard')}"><a ng-show="currentUser && currentUser.role == 'admin'" ng-href="/dashboard">Dashboard</a></li>
                <li ng-class="{active: isActive('/myDashboard')}"><a ng-show="currentUser && currentUser.role == 'user'" ng-href="/myDashboard">My Dashboard</a></li>
                <!--<li ng-class="{active: isActive('/skills')}"><a ng-show="currentUser && currentUser.role == 'admin'" ng-href="/skills" ng-class="{active: isActive('/skills')}">Skills Chart</a></li>-->
                <li class="dropdown" ng-class="{active: isActive('/viewQuestions') || isActive('/uploadQuestions')}">
                    <a ng-show="currentUser && currentUser.role == 'admin'"  data-toggle="dropdown" ng-href="" class="dropdown-toggle">Manage Questions</a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="/viewQuestions">Search Questions</a></li>
                        <li><a ng-href="/uploadQuestions">Upload Questions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" ng-show="currentUser && currentUser.role == 'admin'">Manage Users</a>
                    <ul class="dropdown-menu">
                        <li><a href="#navs">Manage Users</a></li>
                    </ul>
                </li>
                <li ng-class="{active: isActive('/takeTest')}"><a ng-show="currentUser" ng-href="/takeTest">Take a Test</a></li>
                <li><a ng-show="currentUser" ng-href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
   </div>
</div>