<div ng-include="'partials/navbar.html'"></div>

<div class="row col-lg-12">
    <div class="col-lg-2">
        <h3>Search Questions by Tag</h3>
        <input type="text" class="span2 search-query" ng-model="searchTag">
        <button type="submit" class="btn btn-small btn-success" ng-click="viewTagQuestions(searchTag)">Search</button>
    </div>
    <div class="col-lg-10">
        <fieldset>
            <p>{{editable}}</p>
            <ul class="pagination">
                <li ng-repeat="question in questions"><a href ng-click="clickPagination($index)">{{$index + 1}}</a></li>
            </ul>
            <div ng-repeat="question in questions" ng-show="curQuestionIndex == $index" ng-init="editable=0">
                <div ng-switch="question.type">
                    <!--<h3>Question #{{$index + 1}} </h3>-->
                    <p ng-bind-html="question.content"></p>
                    <br/><br/>
                    <div class="row">
                        <div ng-switch-when="MCQ">
                            <div ng-repeat="choice in question.choices" class="active">
                                <p style="vertical-align: middle">
                                <label>Choice {{$index+1}}</label>
                                    <textarea rows="4" cols="50" ng-model="choice.choice" ng-disabled="editable == 0"></textarea>
                                </p>
                            </div>
                            <p>Answer: </p>
                            <textarea ckeditor="editorOptions" ng-model="question.answer"></textarea>
                        </div>
                    </div>
                </div>
                <div id="questionEdit" class="clearfix btn-group-sm pull-right" >
                    <button type="button" class="btn btn-sm btn-danger" ng-show="currentUser && currentUser.role == 'admin'" ng-show="curQuestionIndex > 0" ng-click="editable = 1">Edit</button>
                    <button type="button" class="btn btn-sm btn-success" ng-show="currentUser && currentUser.role == 'admin'" ng-show="editable" ng-click="saveQuestion(questions[curQuestionIndex])">Save</button>
                </div>
            </div>
            <div id="questionNav" class="clearfix btn-group-sm pull-right" >
                <button type="button" class="btn btn-sm btn-primary" ng-show="curQuestionIndex > 0" ng-click="curQuestionIndex = curQuestionIndex-1"> Previous </button>
                <button type="button" class="btn btn-sm btn-primary" ng-show="curQuestionIndex + 1 < questions.length" ng-click="curQuestionIndex = curQuestionIndex+1"> Next </button>
            </div>
        </fieldset>
    </div>
</div>