<div ng-include="'partials/navbar.html'"></div>
<div class="container-fluid">
    <div class="page-header"> <h1>Take a test</h1>
    </div>
    <div class="col-lg-4">
        <form class="form" name="form" ng-controller="QuestionpaperCtrl" ng-submit="startTest()" novalidate>
            <div class="form-group">
                <input type="text" placeholder="Authenticaion Key" class="form-control" ng-model="authKey" required>
            </div>
            <button type="submit" class="btn btn-primary"> Start Test </button>
        </form>
    </div>
</div>
