<div ng-include="'partials/navbar.html'"></div>
<!--<div class="container" style="margin-top: 200px;">-->
    <!--<div class="row" ng-init="getSubjects()">-->
        <!--<ul class="list-group" ng-repeat="subject in subjects">-->
            <!--<a ng-href="/take-test/subject/{{subject}}/quizzes" class="list-group-item">{{subject}}</a>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div id="dashboard" ng-init="getSubjects()">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 question-year-wise">
                <i class="fa fa-caret-left"></i>
                <i class="fa fa-caret-right"></i>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 questions-overview">
                        <div class="pull-left">Topic-wise Test Paper
                            <span class="attempt">0/21 attempted</span>
                        </div>
                        <div class="pull-right question-completed">
                            <span>3%</span>completed
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table" ng-repeat="subject in subjects">
                        <tbody>
                        <tr>
                            <td><a ng-href="/take-test/subject/{{subject}}/quizzes">{{subject}}</a></td>
                            <!--<td>Score 123/600</td>-->
                            <td>ATTEMPT</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 pull-right activity">
                <div class="bdr pull-left col-lg-12 col-sm-12">
                    <div class="col-lg-12 col-sm-12">
                        <h3>ACTIVITY</h3>
                        <span>ATTEMPT</span>
                        <span class="pull-right">0/64</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <span>SCORE</span>
                        <span class="pull-right">56/600</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <span>RANK</span>
                        <span class="pull-right">3,124/12,453</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>