<div ng-include="'partials/navbar'"></div>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-1 portfolio-item">
            <a href="#project-one">
                New Post
            </a>
            <a href="/posts">
                View Posts
            </a>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
        </div>
        <!--<div class="col-lg-9 col-md-9 portfolio-item">-->
            <!--<a href="#project-two">-->
                <!--<img class="img-responsive" src="http://placehold.it/700x400">-->
            <!--</a>-->
            <!--<h3><a href="#project-two">Project Two</a>-->
            <!--</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
        <!--</div>-->

    </div>
</div>

<div class="container-fluid">
    <hr>
    <div ng-include="'partials/footer'"></div>
</div>