<div ng-include="'partials/navbar'"></div>

<!--CONTENT-->
<div class="container-fluid clearfix" ng-controller="BlogCtrl">
    <div class="well well-lg well-white">
        <div class="row">
            <div class="col-lg-7 col-md-8">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2">
            CDE
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9">
            <p>BLOG</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <hr>
    <div ng-include="'partials/footer'"></div>
</div>