<div ng-include="'partials/navbar'"></div>

<div class="container page-header">
    <div class="row">
        <div class="col-lg-9">
            <h2>the Career Myntra Blog</h2>

        </div>
        <div class="col-lg-3">
            <!--<span class="glyphicon glyphicon-search"></span>-->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type text to search here" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-init="baseUrl='http://upsc.pariksharthi.com'">
    <div class="row">
        <div class="col-lg-9">
        <div ng-repeat="article in articles">
            <b><h2>{{article.title}} [{{ article.status}}]</h2></b>
            <div ng-show="currentUser && currentUser.role == 'admin' && article.status === 'DRAFT'">
                <button class="btn btn-default" type="button" ng-click="">Publish</button>
             </div>
            <hr>
            <span ng-show="article.publishedAt != null">{{article.publishedAt | date:'d MMM, y'}}</span>
            <span ng-show="article.publishedAt == 'undefined' || article.publishedAt == null">{{article.createdAt | date:'d MMM, y'}}</span>
            <br/><br/>
            <p ng-bind-html="article.content"></p>
            <div>
                <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='{baseUrl}}/{{article._id}}' data-action='share'></div>
                <div facebook class="facebookShare" data-url='{{baseUrl}}/{{article._id}}' data-shares='shares'>{{ shares }}</div>
                <a twitter  data-lang="en" data-count='horizontal' data-url='{{baseUrl}}/{{article._id}}' data-via='notsosleepy' data-size="medium" data-text='Testing Twitter Share' ></a>
            </div>
            <hr>
        </div>
        </div>
        <div class="col-lg-3">
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Subscribe to Career Myntra blog</div>
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="form-group" ng-class="{ 'has-error': blog.subscriptionEmail.$invalid }">
                                <label>Email:</label><br/>
                                <input type="email" class="form-control" ng-model='blog.subscriptionEmail' required>
                                <br/><br/>
                                <button type="button" class="form-control btn btn-xs btn-primary" ng-click="subscribe()">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Recent Posts</div>
                    <div class="panel-body">
                        <div ng-repeat="article in articles">
                            <li><a  ng-href="/posts/{{article._id}}">{{article.title}}</a></li>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Tags</div>
                    <div class="panel-body">
                        <div ng-repeat="article in articles">
                            <div ng-repeat="tag in article.tags">
                                <a>{{tag}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Archives</div>
                    <div class="panel-body">
                        <div ng-repeat="tag in articleTags">
                            <li><a>{{tag}}</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>