<div ng-include="'partials/navbar'"></div>

<div class="container page-header">
    <h2>the Career Myntra Blog</h2>
</div>
<div class="container" ng-init="getAllPosts()">
    <div class="row">
        <div ng-repeat="article in articles">
            <h2>{{article.title}}</h2>
            <hr>
            <span>{{article.createdAt | date:'medium'}}</span>
            <br/><br/>
            <p ng-bind-html="article.content"></p>
            <div>
                <ul ng-social-buttons>
                    <li>Share:</li>
                    <li class="ng-social-facebook">Facebook</li>
                    <li class="ng-social-google-plus">Google+</li>
                    <li class="ng-social-twitter">Twitter</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>