<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    -->
    <title>Dummy</title>
    <!--<meta name="description" content="A dynamic platform for helping UPSC aspirants">-->
    <!--<meta name="keywords" content="UPSC, Civil Services, testing, asessment,Test Series,s IAS, PCS, UPSC Test Series, IAS Test Series,PCS Test Series" />-->
    <!--<meta name="author" content="Career Myntra"/>-->
    <!--<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>-->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css" />
    <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.css" />
    <!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/navbar.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/signup.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/controllers/questionpaper.js"></script>
<script src="scripts/controllers/account.js"></script>
<script src="scripts/controllers/candidateDashboard.js"></script>
<script src="scripts/controllers/question.js"></script>
<script src="scripts/controllers/createQuestionPaper.js"></script>
<script src="scripts/controllers/contact.js"></script>
<script src="scripts/controllers/blog.js"></script>
<script src="scripts/controllers/addQuestion.js"></script>
<script src="scripts/controllers/tags.js"></script>

<!--<script src="scripts/controllers/skills.js"></script>-->
<script src="scripts/services/auth.js"></script>
<script src="scripts/services/session.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/directives/mongooseError.js"></script>

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="scripts/directives/angular-socialshare.js"/>


</body>
</html>
